body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

textarea.noresize {
    resize: none;
}

.c-layout-breadcrumbs-1{
    padding-top: 100px!important;
    padding-bottom:40px!important;
}

.c-radio.c-radio-small label>.box{
    top: 5px !important;
    height: 15px !important;
    width: 15px !important;
}

.c-radio.c-radio-small label{
    padding-left: 20px !important;
    font-size: 14px !important;
}

.c-radio.c-radio-small{
    margin-bottom:0 !important;
}

.c-radio.c-radio-small label>.check{
    top: 8px !important;
    left: 3px !important;
    width: 9px !important;
    height: 9px !important;
}

.pulse {
    overflow: initial;
    position: relative;
  }
  
  .pulse::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
  }
  
  @-webkit-keyframes pulse-animation {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  
  @keyframes pulse-animation {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }

    .slim {
        border-radius: 0.5rem;
    }

    #driver-license-slim .slim{
        height:200px;
        width:400px;
    }

    #cars-collection-map{
        height: 400px
    }
    .slider.slider-horizontal{
        width:100%!important;
    }

    .zoomImg{
        background-color:#FFFFFF;
    }