body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.c-layout-breadcrumbs-1{
    padding-top: 100px!important;
    padding-bottom:40px!important;
}

.c-radio.c-radio-small label>.box{
    top: 5px !important;
    height: 15px !important;
    width: 15px !important;
}

.c-radio.c-radio-small label{
    padding-left: 20px !important;
    font-size: 14px !important;
}

.c-radio.c-radio-small{
    margin-bottom:0 !important;
}

.c-radio.c-radio-small label>.check{
    top: 8px !important;
    left: 3px !important;
    width: 9px !important;
    height: 9px !important;
}